@font-face {
    font-family:'king arthur';
    src:url(https://guiltyadonis.github.io/jointhegang/King%20Arthur%20Legend.ttf);
}
@font-face {
    font-family:'dominican';
    src:url(https://guiltyadonis.github.io/jointhegang/DOMINICA.TTF);
}
@font-face {
    font-family:'dominican italic';
    src:url(https://guiltyadonis.github.io/jointhegang/DOMITA.TTF);
}
@font-face {
    font-family:'dominican small caps';
    src:url(https://guiltyadonis.github.io/jointhegang/DOMSMCAP.TTF);
}
